<div id="menu-jk" class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-3 logo">
                <img class="logo-wt" src="assets/images/logo.png" alt="">
                <img class="logo-gry" src="assets/images/logo-gray.png" alt="">

                <a data-toggle="collapse" data-target="#menu" href="#menu"><i
                        class="fas d-block d-md-none small-menu fa-bars"></i></a>
            </div>

            <div id="menu" class="col-md-9 d-none d-md-block">
                <ul>
                    {% for item in site.data.navigation %}
                    <li>
                        <a href="{{ item.link }}">
                            {{ item.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>