<div id="sidebar">

    <div class="inner">

      <!-- Search Box -->
      <section id="search" class="alt">
        <form method="get" action="#">
          <input type="text" name="search" id="search" placeholder="Search..." />
        </form>
      </section>
        
      <!-- Menu -->
      <nav id="menu">

        <ul>
          {% for item in site.data.nav %}
          <li>
              {% if item.link == false %}
              <span class="opener">{{ item.name }}</span>
                <ul>
                    {% for subItem in item.child %}
                    <li><a href="{{ subItem.link }}">{{ subItem.name }}</a></li>
                    {% endfor %}
                </ul>
              {% else %}
              <a href="{{ item.link }}">{{ item.name }}</a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </nav>

      <!-- Featured Posts -->
      {% include featured.html %}

      <!-- Footer -->
      <footer id="footer">
        <p class="copyright">Copyright &copy; 2019 Company Name
        <br>Designed by <a rel="nofollow" href="https://www.facebook.com/templatemo">Template Mo</a></p>
      </footer>

    </div>
  </div>